:root {
    --primary: #808882;
    --secondary: #fdf6f6;
    --tercero: #FEFFFF;
    --cuarto: #867273;
    --quinto: #858b85;
  }
.btnCotizar{
    border: 0;
    background-color: var(--secondary);
    color: var(--primary);
    padding: .5rem;
    text-transform: uppercase;
    border-radius: 2rem;
    cursor: pointer;
    border: 2px solid var(--secondary);
    transition: backgroung-color .2s, color .2s;
    width: 25vh;
 }
 .btnCotizar:hover{
    background-color: var(--quinto);
    color: var(--secondary);
  }
<<<<<<< HEAD
=======

>>>>>>> ce2eebc (EMPLEADO)
/* EMPLEADO */

.emp_ban {
    background-image: linear-gradient(180deg, #f0cfcf, #FEFFFF);
}

.emp_button {
    border-color: #867273;
    color: #8E9B91;
    background-image: -webkit-linear-gradient(45deg, #867273 50%, transparent 50%);
    background-image: linear-gradient(45deg, #867273 50%, transparent 50%);
    background-position: 100%;
    background-size: 400%;
    -webkit-transition: background 300ms ease-in-out;
    transition: background 300ms ease-in-out;
}

.emp_button:hover {
    background-position: 0;
    color: white;
}

.emp_button_c {
    border-color: #585D58;
    color: #867273;
    background-image: -webkit-linear-gradient(45deg, #585D58 50%, transparent 50%);
    background-image: linear-gradient(45deg, #585D58 50%, transparent 50%);
    background-position: 100%;
    background-size: 400%;
    -webkit-transition: background 300ms ease-in-out;
    transition: background 300ms ease-in-out;
}

.emp_button_c:hover {
    background-position: 0;
    color: white;
}

.emp_add {
	color: #585D58;
}

.emp_add:hover {
	color: #867273;
    outline-color: rgba(71, 126, 232, 0);
    outline-offset: 300px;
}
